/* @font-face {
    font-family: 'menu-js';
    src: url('./assets/arcade-pix.ttf');
  } */

/* #canvas {
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    width: 800px;
    background-color: black
} */
html {
    background: black;
}
#cr-stage {
    height: inherit;
    width: inherit;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background: black;
}

#menu-js {
    height: inherit;
    width: inherit;
  
    background: transparent;
    text-align: center;
}
.menu-js__h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 20px;
    padding: 20px;
}
.menu-js__button {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: white;
    background: black;
    font-size: 40px;
    cursor: pointer;

    width: 500px;
    height: auto;

    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

    transition-duration: 250ms;
    border-radius: 50px;
}
.menu-js__button:hover {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: black;
    background: white;
    cursor: pointer;
}
